include ../mixins/flash-messages

doctype html
html(ng-app="mainApp" class="no-js")
  base(href="/")
  
  //- HTML HEADER
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="fragment" content="!")
    meta(name="google-site-verification" content="g68X5-70U9aT2fkLnaKlR0mYLs0gUzH2fMIIj_DZWAc")
    //- title {{data.post.title}}
    //- meta(property="og:title" content="{{data.post.title}")
    //- meta(name="twitter:title" content="{{data.post.title}}")
    //- meta(name="description" content="{{data.post.content.brief}}")
    //- meta(property="og:description" content="{{data.post.content.brief}}")
    //- meta(name="twitter:description" content="{{data.post.content.brief}}")
    //- 
    //- meta(property="og:type" content="article")
    //- meta(name="twitter:card" content="summary_large_image")
    //- meta(property="og:image" content="{{data.post.image.url}}")
    //- meta(name="twitter:image:src" content="{{data.post.image.url}}")
    //- meta(property="og:url" content="{{data.post.fullPostUrl}}")
    //- meta(name="twitter:url" content="{{data.post.fullPostUrl}}")
    //- meta(property="article:published_time" content="{{data.post.publishedDate}}")
    title(ng-bind="ngMeta.title")
    meta(property="og:title" content="{{ngMeta.title}}")
    meta(property="og:type" content="{{ngMeta['og:type']}}")
    meta(property="og:image" content="{{ngMeta['og:image']}}")
    meta(name="description" content="{{ngMeta.description}}")
    //- meta(name="description" content="general description")            
      //- meta(property="og:image" content="{{baseUrl}}/images/logo.png")
      //- meta(name="twitter:image:src" content="{{baseUrl}}/images/logo.png")
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

    //- Customise the stylesheet for your site by editing /public/styles/site.less
    //- All .less files will be automatically compiled and minified in production.
    link(href="/styles/site.min.css", rel="stylesheet")

    //- Angular Material
    link(href="/js/lib/angular-material/angular-material.min.css", rel="stylesheet")
    //- Include template-specific stylesheets by extending the css block
    block css

    //- Add any other template-specific HEAD tags by extending the head block
    block head

  //- HTML BODY
  body

    //- BODY
    #body

      block app

    //- Add scripts that are globally required by your site here.
    script(src='/js/lib/angular/angular.js')
    script(src="/js/lib/angular/angular-locale_es-mx.js")
    script(src='/js/lib/angular-sanitize/angular-sanitize.js')
    script(src='/js/lib/angular-route/angular-route.js')
    script(src='/js/lib/angular-aria/angular-aria.js')
    script(src='/js/lib/angular-animate/angular-animate.js')
    script(src='/js/lib/hammerjs/hammer.js')
    script(src='/js/lib/angular-material/angular-material.js')
    script(src='/js/lib/angular-resource/angular-resource.js')
    script(src='/js/lib/ngMeta/dist/ngMeta.js')


    //- Include template-specific javascript files by extending the js block
    block js
