extends ../../layouts/ang_mat

block css
  link(href="/styles/angular/list.css", rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600" rel="stylesheet")
  link(href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css" rel="stylesheet")
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")

block js
  script(src='/js/ang_mat/services.js')
  script(src='/js/ang_mat/blog/blog.js')
  script(src='/js/ang_mat/post/post.js')
  script(src='/js/ang_mat/gallery/gallery.js')
  script(src='/js/ang_mat/contact/contact.js')
  script(src='/js/ang_mat/main.js')
  script(src="https://code.jquery.com/jquery-2.1.1.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js")
  

block app
  div(ng-controller="MainCtrl as main" md-theme="default" layout="column" layout-fill)
    md-toolbar(class="app-toolbar")
      div(class="md-toolbar-tools")
        a(ng-href='/blog')
          img.logo(src='/images/name.png' alt="SLNA")
        md-tabs(md-center-tabs="true" selected="selectedIndex")
          md-tab(ng-repeat="tab in tabs" on-select="onTabSelected(tab)" on-deselect="announceDeselected(tab)" ng-disabled="tab.disabled" label="{{tab.title}}" ng-click="go(tab, '/' + tab.path)")
        div.iconos_toolbar(hide-sm hide-xs)
          a(href="https://www.facebook.com/suciaescena" target="_blank")
            i.fa.fa-facebook-square
          a(href="https://www.youtube.com/channel/UCB7fQRV3z0mv4O85noXHEpw" target="_blank")
            i.fa.fa-youtube-play
          a(href="https://www.instagram.com/suciaescenamx" target="_blank")
            i.fa.fa-instagram
    md-content
      div(layout="vertical" layout-fill ng-view)
    md-toolbar.md-scroll-shrink.social(hide-gt-sm)
      div(layout="row" layout-align="center center" flex)
        div.iconos_toolbar
          a(href="https://www.facebook.com/suciaescena" target="_blank")
            i.fa.fa-facebook-square
          a(href="https://www.youtube.com/channel/UCB7fQRV3z0mv4O85noXHEpw" target="_blank")
            i.fa.fa-youtube-play
          a(href="https://www.instagram.com/suciaescenamx" target="_blank")
            i.fa.fa-instagram    
          
