doctype html
.container(ng-controller="ContactCtrl as contactCtrl")
  md-content(flex)
    div(layout="row" layout-sm="column" flex)
      div.contacto_iconos
        i.fa.fa-facebook-square
      div.contacto_iconos
        i.fa.fa-youtube-play
      div.contacto_iconos
        i.fa.fa-instagram
    
