doctype html
.container(ng-controller="ContactCtrl as contactCtrl" style="width:100%;")
  md-content(flex style="margin-top:2%;")
    div.redes(layout="row" layout-sm="column" layout-align="space-around center" flex)
      a(href="https://www.facebook.com/suciaescena" target="_blank")
        i.fa.fa-facebook-square
      a(href="https://www.instagram.com/suciaescenamx" target="_blank")
        i.fa.fa-instagram
      a(href="mailto:suciaescena@gmail.com")
        i.fa.fa-envelope-o
    md-divider(inset)
    div.topyoutube(layout="row" layout-align="center start" flex)
      a(href="https://www.youtube.com/channel/UCB7fQRV3z0mv4O85noXHEpw" target="_blank")
        h3 Youtube
    div.youtube(layout="row" layout-align="center start" flex)
      iframe.video(width="560" height="315" src="https://www.youtube.com/embed/MEW0OB6DgXc" frameborder="0" allowfullscreen)
