doctype html
head 
  title
div(ng-controller="PostCtrl as postctrl" layout="vertical" layout-fill)
  md-content(class="full center post")
    h2.titulo {{postctrl.post.title}}
    h3.subtitulo {{postctrl.post.content.brief}}
    div.fb-share-button(data-layout="button" data-size="small" data-mobile-iframe="true")
      a.fb-xfbml-parse-ignore (target="_blank" href="https://www.facebook.com/sharer/sharer.php?u&amp;src=sdkpreparse") Share
    md-divider(inset)
    h3.subtitulo {{postctrl.post.publishedDate | date:'longDate'}} 
      | por {{postctrl.post.author.name.first}} {{postctrl.post.author.name.last}}
    div.contain
      img(ng-src="{{postctrl.post.image.url}}" class="art-img")
    div.texto(ng-bind-html="postctrl.post.content.extended")
    md-divider(inset style="margin-bottom:10px;")
    div.category
      span(ng-repeat="category in postctrl.post.categories") 
        a(href="" ng-click="go('/blog/' + category.key)") 
          div.chip {{category.name}}
    a(href="" ng-click="go('/blog')") 
      div.back 
        p &larr; Regresar al blog	
