.face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px; }

.logo{
  width: 160px;
  padding-right: 20px;
}

.md-center-tabs {
        margin: 0;
        margin-left: auto;
      }

md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
  min-width: 200px !important;
  width: 85vw !important;
  max-width: 275px !important;
}

.md-button.md-default-theme.md-primary {
    display: block;
    width: 100%;
}

.md-tile-content{
  padding:0px;
  position:relative;
}
.img{
width: 100%;
height: 300px;
position: relative;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover
}


.datos_post{
  position: absolute;
  top:70%;
  color: white;
  text-shadow: 1px 1px black;
}
.derecha{
  right: 10%;
}
.izquierda{
  left: 10%;
}

/*Tablet*/


/*Movil*/
